
body {
@import "variables.scss";
padding: 0;
margin: 0;
background: url(./asset/slider-1.png);
    .container{
        margin-left: 100.33px;
       
        header{
           
            .navbar {
                border-bottom: $primary-color solid 1px;
                opacity: 1;
        
                     ul{
                        display: flex;
                        justify-content: right;
                        
                            li{
                                a{
                                    text-decoration: none;
                                    color: white;
                                }
                    }
                }
        }
       

    }
} 
    
}

